<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Песни ц.Христа Спасителя</title>

    <link rel="icon" href="favicon.png" type="image/png">

    <meta name="description" content="Песни, тексты, аккорды, видео со служений церкви Христа Спасителя!">
    
    <meta name="keywords" content="песни, прославление, поклонение, аккорды, церковь, Христа Спасителя, Кременчуг">

    
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://worship-song.github.io/">
    <meta property="og:title" content="Песни ц.Христа Спасителя">
    <meta property="og:site_name" content="Песни ц.Христа Спасителя">
    <meta property="og:description" content="Песни, тексты, аккорды, видео со служений церкви Христа Спасителя!">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="facebook_og.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Песни, тексты, аккорды, видео со служений церкви Христа Спасителя!">
    <meta name="twitter:title" content="Песни ц.Христа Спасителя">
    <meta name="twitter:image" content="twitter_og.jpg">


    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="custom.css?v=11"> <!-- Increase version here -->

    <script src="jquery-3.4.1.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="axios.min.js"></script>
    <script src="mark.min.js"></script>
    <script src="vue.js"></script>
    <script src="app.js?v=17" defer></script> <!-- Increase version here -->
    
</head>
<body>
    <div id="app" v-cloak>

        <!-- ALPHABET -->
        <div class="card rounded-good shadow-sm m-2">
            <div class="card-body text-center p-1">
                <button class="btn btn-sm rounded-good mb-1 mr-1" :class="letter==='all' ? 'btn-success' : 'btn-light'" @click="letter='all'">Всё</button><button v-for="item in letters" class="btn btn-sm rounded-good mb-1 mr-1" :class="letter===item ? 'btn-success' : 'btn-light'" @click="letter=item">{{item}}</button><button class="btn btn-sm btn-success rounded-good mb-1 mr-1" @click="GetSongsFromInternet">&orarr;</button>
                <br>
                <transition name="fade">
                    <span v-if="updated" class="text-success small font-weight-bold mb-1">&check; Обновлено успешно!</span>
                </transition>
                <transition name="fade">
                    <span v-if="failed" class="text-danger small font-weight-bold mb-1">Обновление неудачно :(</span>
                </transition>
            </div>
        </div>

        <!-- SEARCH -->
        <div class="card rounded-good shadow-sm m-2">
            <div class="form-group m-0">
                <input type="text" class="form-control text-center border-0 rounded-good font-weight-bold" placeholder="Поиск" v-model="search">
                <button class="btn btn-success rounded-good border-0 position-absolute" style="right:1px; top:1px; z-index:1;">&rarr;</button>
            </div>
        </div>


        <!-- TABLE FAVOURITE -->
        <div v-if="favourite.length" class="d-flex justify-content-center text-center px-3 pt-2">
            <h5 class="d-inline m-0">Избранное</h5>
            <button class="btn btn-sm rounded-good px-2 py-0 ml-3" :class="fav_copied ? 'btn-success' : 'btn-secondary'" @click="copy_fav_to_clipboard">Копировать<span v-show="fav_copied"> &check;</span></button>
        </div>
        <div v-if="favourite.length" class="card rounded-good shadow-sm m-2">
            <table class="table-sm rounded-good table-striped table-hover overflow-hidden m-0">
                <tbody>
                    <tr v-for="(item, index) in favourite" :key="'fav_song_key_'+index" class="cursor-pointer" @click="get_text(songs.indexOf(songs.find(obj => obj[0]===item)), 0, favourite.indexOf(item))">
                        <th scope="row" class="text-muted">{{index+1}}</th>
                        <td>
                            <span class="h_name mr-3"><b>{{item.substring(0,1)}}</b>{{item.substring(1)}}</span>
                        </td>
                        <td class="text-nowrap">
                            <span v-if="songs.find(obj => obj[0]===item)[1] || songs.find(obj => obj[0]===item)[2] || songs.find(obj => obj[0]===item)[3] || songs.find(obj => obj[0]===item)[4]" class="youtube muted"></span>

                            <span v-if="songs.find(obj => obj[0]===item)[5]" class="text-muted">&#9776;</span>

                            <span v-if="songs.find(obj => obj[0]===item)[6]" class="text-muted">&#9835;</span>

                            <span v-if="favourite.includes(item)" class="star_fav active">&starf;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        

        <!-- TABLE -->
        <div class="text-center px-3 pt-2"><h5>Список песен</h5></div>
        <div class="card rounded-good shadow-sm m-2">
            <table class="table-sm rounded-good table-striped table-hover overflow-hidden m-0">
                <tbody>
                    <tr v-for="(item, index) in songs" :key="'song_'+index" v-show="item[0].substring(0,1) === letter || letter === 'all'" :class="{'bg-warning': (item[5] && search.length>2 && item[5].toLowerCase().search(search.toLowerCase())>-1)}" class="cursor-pointer" @click="get_text(index)">
                        <th scope="row" class="text-muted">{{index+1}}</th>
                        <td>
                            <span class="h_name mr-3"><b>{{item[0].substring(0,1)}}</b>{{item[0].substring(1)}}</span>
                        </td>
                        <td class="text-nowrap">
                            <span v-if="item[1] || item[2] || item[3] || item[4]" class="youtube muted"></span>
                            <span v-if="item[5]" class="text-muted">&#9776;</span>
                            <span v-if="item[6]" class="text-muted">&#9835;</span>
                            <span v-if="favourite.includes(item[0])" class="star_fav active">&starf;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- TABLE CURRENT MINISTRY -->
        <div class="text-center px-3 pt-2"><h5>Ближайшее служение</h5></div>
        <div class="card rounded-good shadow-sm m-2">
            <div v-if="!current_ministry || !current_ministry.length" class="text-center text-gray small font-weight-bold p-2">Список пока-что пуст, приходите позже :)</div>
            <table v-if="current_ministry && current_ministry.length" class="table-sm rounded-good table-striped table-hover overflow-hidden m-0">
                <tbody>
                    <tr v-for="(item, index) in current_ministry" :key="'song_key_'+index" :class="{'bg-warning': (songs[item[1]][5] && search.length>2 && songs[item[1]][5].toLowerCase().search(search.toLowerCase())>-1)}" class="cursor-pointer" @click="get_text(item[1], index)">
                        <th scope="row" class="text-muted">{{index+1}}</th>
                        <td>
                            <span class="h_name mr-3"><b>{{item[0].substring(0,1)}}</b>{{item[0].substring(1)}}</span>
                        </td>
                        <td class="text-nowrap">
                            <span v-if="item[1]>=0 && (songs[item[1]][1] || songs[item[1]][2] || songs[item[1]][3] || songs[item[1]][4])" class="youtube muted"></span>
                            <span v-if="item[1]>=0 && songs[item[1]][5]" class="text-muted">&#9776;</span>
                            <span v-if="item[1]>=0 && songs[item[1]][6]" class="text-muted">&#9835;</span>
                            <span v-if="favourite.includes(item[0])" class="star_fav active">&starf;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            

        <!-- POPUP -->
        <transition name="fade">
            <div class="popup" v-show="popup" style="display: none;">
                
                <div class="row justify-content-center h-100">
                    <div class="col-md-12">
                        <div class="card rounded-0 border-0 h-100">

                            <div class="card-header bg-light d-flex align-items-start text-center position-sticky sticky-top py-1 px-2">
                                <!-- SONG TITLE and CLOSE BUTTON -->
                                <div class="d-flex align-items-center h-100">
                                    <!-- main list title -->
                                    <span v-if="!is_song_from_ministry && !is_song_from_fav" class="mr-auto font-weight-bold small">{{song_title}} ({{current_song+1}}/{{songs.length}})</span>

                                    <!-- current ministry list title -->
                                    <span v-if="is_song_from_ministry" class="mr-auto font-weight-bold small">{{song_title}} ({{current_song+1}}/{{current_ministry.length}})</span>

                                    <!-- favourite list title -->
                                    <span v-if="is_song_from_fav" class="mr-auto font-weight-bold small">{{song_title}} ({{current_song+1}}/{{favourite.length}})</span>
                                </div>

                                <!-- STAR of Favourite status -->
                                <span class="star_fav cursor-pointer ml-auto pl-2" :class="(favourite.includes(song_title)) ? 'active' : ''" @click="ToggleFav">{{ (favourite.includes(song_title)) ? '&starf;' : '&star;' }}</span>

                                <!-- NEXT / PREV buttons for Main List -->
                                <div v-if="!is_song_from_ministry && !is_song_from_fav" class="d-inline-flex pl-3">
                                    <button :disabled="current_song<=0" :class="current_song<=0 ? 'btn-secondary' : 'btn-success'" class="btn btn-sm rounded-circle-left" @click="get_text(current_song-1)">&larr;</button>
                                    <button :disabled="current_song>=songs.length-1" :class="current_song>=songs.length-1 ? 'btn-secondary' : 'btn-success'" class="btn btn-sm rounded-circle-right" @click="get_text(current_song+1)">&rarr;</button>
                                </div>

                                <!-- NEXT / PREV buttons for Current Ministry -->
                                <div v-if="is_song_from_ministry" class="d-inline-flex pl-3">
                                    <button :disabled="current_song<=0" :class="current_song<=0 ? 'btn-secondary' : 'btn-success'" class="btn btn-sm rounded-circle-left" @click="get_text(current_ministry[current_song-1][1], current_song-1)">&larr;</button>
                                    <button :disabled="current_song>=current_ministry.length-1" :class="current_song>=current_ministry.length-1 ? 'btn-secondary' : 'btn-success'" class="btn btn-sm rounded-circle-right" @click="get_text(current_ministry[current_song+1][1], current_song+1)">&rarr;</button>
                                </div>

                                <!-- NEXT / PREV buttons for Favourite -->
                                <div v-if="is_song_from_fav" class="d-inline-flex pl-3">
                                    <button :disabled="current_song<=0" :class="current_song<=0 ? 'btn-secondary' : 'btn-success'" class="btn btn-sm rounded-circle-left" @click="get_text(songs.indexOf(songs.find(obj => obj[0]===favourite[current_song-1])), 0, current_song-1)">&larr;</button>
                                    <button :disabled="current_song>=favourite.length-1" :class="current_song>=favourite.length-1 ? 'btn-secondary' : 'btn-success'" class="btn btn-sm rounded-circle-right" @click="get_text(songs.indexOf(songs.find(obj => obj[0]===favourite[current_song+1])), 0, current_song+1)">&rarr;</button>
                                </div>

                                <button class="btn btn-sm btn-secondary rounded-circle ml-3" @click="ClosePopup">&#10005;</button>
                            </div>

                            <div class="card-body p-2">
                                

                                <!-- SONG TEXT -->
                                <span v-if="song_text" class="popup_song_text pre-format" v-html="song_text_marked"></span>

                                <!-- BUTTONS VIDEO & COPY TEXT -->
                                <div class="d-flex justify-content-between my-3">
                                    <button v-if="vid1 || vid2 || vid3 || vid4" :class="vid_block ? 'btn-light' : 'btn-success'" class="btn btn-sm rounded-good" @click="vid_block = vid_block ? false : true">Видео / Аудио <span v-if="!vid_block">&darr;</span><span v-if="vid_block">&uarr;</span></button>
                                    <span>&nbsp;</span>
                                    <button v-if="song_text.length" class="btn btn-sm rounded-good" :class="copied ? 'btn-success' : 'btn-secondary'" @click="copy_to_clipboard(song_title, song_text)">Копировать текст<span v-show="copied"> &check;</span></button>
                                </div>

                                <!-- VIDEO BLOCK (show / hide) -->
                                <div v-show="vid_block && (vid1 || vid2 || vid3 || vid4)">
                                    <div class="d-flex flex-column mb-4">
                                        <a v-show="vid1" :href="vid1" target="_blank" class="small"><span class="youtube mr-1"></span>{{ vid1 }}</a>
                                        <a v-show="vid2" :href="vid2" target="_blank" class="small"><span class="youtube mr-1"></span>{{ vid2 }}</a>
                                        <a v-show="vid3" :href="vid3" target="_blank" class="small"><span class="youtube mr-1"></span>{{ vid3 }}</a>
                                        <a v-show="vid4" :href="vid4" target="_blank" class="small"><span class="youtube mr-1"></span>{{ vid4 }}</a>
                                    </div>
                                </div>
                                
                                <!-- CHORDS -->
                                <div class="position-relative" v-if="song_chords">
                                    <hr>

                                    <div class="text-right position-absolute" style="right:0; top:1.25rem;">
                                        <button class="btn btn-sm rounded-circle-top" :class="transposed > 0 ? 'btn-success' : 'btn-outline-secondary'" @click="transUp(1)">&nbsp;&uarr;&nbsp;</button>
                                        <br><span v-show="transposed > 0">+</span><span v-show="transposed != 0">{{transposed}}</span>&nbsp;&nbsp;<br>
                                        <button class="btn btn-sm rounded-circle-bottom" :class="transposed < 0 ? 'btn-success' : 'btn-outline-secondary'" @click="transDown(1)">&nbsp;&darr;&nbsp;</button>
                                    </div>

                                    <div class="pr-5 mb-2" style="min-height: 90px;">
                                        <span class="pre-format" v-html="song_chords"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </transition>

    </div>
</body>
</html>
