<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Песни ц.Христа Спасителя</title>

    <link rel="icon" href="favicon.png" type="image/png">

    <meta name="description" content="Песни, тексты, аккорды, видео со служений церкви Христа Спасителя!">
    
    <meta name="keywords" content="песни, прославление, поклонение, аккорды, церковь, Христа Спасителя, Кременчуг">

    
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://worship-song.github.io/">
    <meta property="og:title" content="Песни ц.Христа Спасителя">
    <meta property="og:site_name" content="Песни ц.Христа Спасителя">
    <meta property="og:description" content="Песни, тексты, аккорды, видео со служений церкви Христа Спасителя!">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="facebook_og.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Песни, тексты, аккорды, видео со служений церкви Христа Спасителя!">
    <meta name="twitter:title" content="Песни ц.Христа Спасителя">
    <meta name="twitter:image" content="twitter_og.jpg">


    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="custom.css?v=4">

    <script src="jquery-3.4.1.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="axios.min.js"></script>
    <script src="mark.min.js"></script>
    <script src="vue.js"></script>
    
</head>
<body>
    <div id="app">

        <!-- ALPHABET -->
        <div class="card shadow-sm m-2">
            <div class="card-body text-center p-1">
                <button class="btn btn-sm mb-1 mr-1" :class="letter==='all' ? 'btn-success' : 'btn-light'" @click="letter='all'">Всё</button><button v-for="item in letters" class="btn btn-sm mb-1 mr-1" :class="letter===item ? 'btn-success' : 'btn-light'" @click="letter=item">{{item}}</button><button class="btn btn-sm btn-success mb-1 mr-1" @click="GetSongsFromInternet">&orarr;</button>
                <br>
                <transition name="fade">
                    <span v-if="updated" class="text-success small font-weight-bold mb-1">&check; Обновлено успешно!</span>
                </transition>
                <transition name="fade">
                    <span v-if="failed" class="text-danger small font-weight-bold mb-1">Обновление неудачно :(</span>
                </transition>
            </div>
        </div>

        <!-- SEARCH -->
        <div class="card shadow-sm m-2">
            <div class="form-group m-0">
                <input type="text" class="form-control text-center border-0" placeholder="Поиск" v-model="search">
            </div>
        </div>
        

        <!-- TABLE -->
        <div class="card shadow-sm m-2">
            <table class="table-sm table-striped table-hover table-responsive-sm m-0">
                <tbody>
                    <tr v-for="(item, index) in songs" :key="'song_'+index" v-show="item[0].substring(0,1) === letter || letter === 'all'" :class="{'bg-warning': (item[5] && search.length>2 && item[5].toLowerCase().search(search.toLowerCase())>-1)}">
                        <th scope="row">{{index+1}}</th>
                        <td>
                            <a class="h_name" :href="item[1]" :target="item[1] ? '_blank' : '_self'"><span class="youtube" v-if="item[1]"></span><b>{{item[0].substring(0,1)}}</b>{{item[0].substring(1)}}</a>
                            <a :href="item[2]" target="_blank" v-if="item[2]"><span class="youtube ml-4"></span>v2</a>
                            <a :href="item[3]" target="_blank" v-if="item[3]"><span class="youtube ml-4"></span>v3</a>
                            <a :href="item[4]" target="_blank" v-if="item[4]"><span class="youtube ml-4"></span>v4</a>
                        </td>
                        <td><button class="btn btn-sm btn-success" v-if="item[5]" @click="get_text(index)" :data-id="index">Текст<span v-if="item[6]">&nbsp;&#9835;</span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- TABLE CURRENT MINISTRY -->
        <div class="text-center px-3 pt-2"><h5>Текущее служение</h5></div>
        <div class="card shadow-sm m-2">
            <table class="table-sm table-striped table-hover table-responsive-sm m-0">
                <tbody>
                    <tr v-for="(item, index) in current_ministry" :key="'song_key_'+index" v-show="item[0].substring(0,1) === letter || letter === 'all'" :class="{'bg-warning': (search.length>2 && item[0].toLowerCase().search(search.toLowerCase())>-1)}">
                        <th scope="row">{{index+1}}</th>
                        <td>
                            <a class="h_name" :href="songs[item[1]][1]" :target="songs[item[1]][1] ? '_blank' : '_self'"><span class="youtube" v-if="songs[item[1]][1]"></span><b>{{item[0].substring(0,1)}}</b>{{item[0].substring(1)}}</a>
                            <a :href="songs[item[1]][2]" target="_blank" v-if="songs[item[1]][2]"><span class="youtube ml-4"></span>v2</a>
                            <a :href="songs[item[1]][3]" target="_blank" v-if="songs[item[1]][3]"><span class="youtube ml-4"></span>v3</a>
                            <a :href="songs[item[1]][4]" target="_blank" v-if="songs[item[1]][4]"><span class="youtube ml-4"></span>v4</a>
                        </td>
                        <td><button class="btn btn-sm btn-success" v-if="songs[item[1]][5]" @click="get_text(item[1], index)" :data-id="index">Текст<span v-if="songs[item[1]][6]">&nbsp;&#9835;</span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
            

        <!-- POPUP -->
        <transition name="fade">
            <div class="popup" v-show="popup" @click.self="ClosePopup">
                
                <div class="row justify-content-center" @click.self="ClosePopup">
                    <div class="col-md-8">
                        <div class="card m-3">

                            <div class="card-header d-flex align-items-center text-center py-1 pr-1">
                                <span v-if="!is_song_from_ministry" class="mr-auto font-weight-bold">{{song_title}} ({{current_song+1}}/{{songs.length}})</span>
                                <span v-if="is_song_from_ministry" class="mr-auto font-weight-bold">{{song_title}} ({{current_song+1}}/{{current_ministry.length}})</span>
                                <button class="btn btn-secondary rounded-circle ml-auto" @click="ClosePopup">&#10005;</button>
                            </div>

                            <div class="card-body">
                                <div v-if="!is_song_from_ministry" class="d-flex justify-content-between mb-2">
                                    <button v-if="current_song>0" class="btn btn-sm btn-success rounded-circle" @click="get_text(current_song-1)">&larr;</button>
                                    <span>&nbsp;</span>
                                    <button v-if="current_song<songs.length-1" class="btn btn-sm btn-success rounded-circle" @click="get_text(current_song+1)">&rarr;</button>
                                </div>

                                <div v-if="is_song_from_ministry" class="d-flex justify-content-between mb-2">
                                    <button v-if="current_song>0" class="btn btn-sm btn-success rounded-circle" @click="get_text(current_ministry[current_song-1][1], current_song-1)">&larr;</button>
                                    <span>&nbsp;</span>
                                    <button v-if="current_song<current_ministry.length-1" class="btn btn-sm btn-success rounded-circle" @click="get_text(current_ministry[current_song+1][1], current_song+1)">&rarr;</button>
                                </div>

                                <span class="popup_song_text pre-format" v-html="song_text_marked"></span>
                                <div class="text-right">
                                    <button class="btn btn-sm my-2" :class="copied ? 'btn-success' : 'btn-secondary'" @click="copy_to_clipboard(song_title, song_text)">Копировать<span v-show="copied"> &check;</span></button>
                                </div>
                                
                                <div class="position-relative" v-if="song_chords">
                                    <hr>

                                    <div class="text-right position-absolute" style="right:0; top:1.25rem;">
                                        <button class="btn btn-sm rounded-circle" :class="transposed > 0 ? 'btn-success' : 'btn-outline-secondary'" @click="transUp(1)">&nbsp;&uarr;&nbsp;</button>
                                        <br><span v-show="transposed > 0">+</span><span v-show="transposed != 0">{{transposed}}</span>&nbsp;&nbsp;<br>
                                        <button class="btn btn-sm rounded-circle" :class="transposed < 0 ? 'btn-success' : 'btn-outline-secondary'" @click="transDown(1)">&nbsp;&darr;&nbsp;</button>
                                    </div>

                                    <div class="pr-5">
                                        <span class="pre-format" v-html="song_chords"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </transition>

    </div>

    <script src="app.js?v=9"></script>
</body>
</html>
